#produce-header {
    position: fixed;
    left: 40%;
}

/* 
.id {
    display: flex;
    justify-content: space-around;
    align-self: auto; 
} */

.bags {
    flex: auto;
    justify-content: space-between;
}

.id {
    flex: auto;
    justify-content: space-between;
}
